.header {
  font-family: 'Helvetica', 'Arial', Sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  font-weight: 200;
  white-space: nowrap;
  text-align: center;
  background: #fff;
  line-height: 48px;
  font-size: 14px;
  box-shadow: 0 1px 0 #ffdb99;
  z-index: 1;
}
.header__logo {
  color: #20BF9F;
  margin: 0;
  padding: 0;
  font-size: 24px;
  padding: 0 15px;
  font-weight: 600;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.header__nav-item:hover {
  color: #fff;
  background: #20BF9F;
}
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 48px;
}
.header__nav-item {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 0 15px;
  text-decoration: none;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  text-transform: uppercase;
  color: #e59400;
  background: #fff;
  letter-spacing: 1px;
  border-left: 1px solid #ffdb99;
}
.header__nav-item:hover {
  color: #fff;
  background: #20BF9F;
}
.header__nav-item__description,
p {
  display: none;
  font-variant: small-caps;
  text-transform: lowercase;
  opacity: 0.5;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1;
}
.header__show-all {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  cursor: pointer;
  background: #fff;
  box-shadow: -4px 0 0 #ffdb99;
}
.header__show-all:hover {
  color: #fff;
  background: #ffdb99;
}
.header__show-all::before,
.header__show-all::after {
  display: block;
  content: "";
  width: 2px;
  height: 24px;
  background: #20BF9F;
  position: absolute;
  left: calc(50% - 1px);
  top: calc(50% - 12px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
          transition: transform 0.25s ease-in-out;
}
.header__show-all::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header--extended .header__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 0;
  overflow: scroll;
  border-top: 1px solid #ffdb99;
}
.header--extended .header__nav-item {
  border-bottom: 1px solid #ffdb99;
  padding: 8vw 0;
  line-height: 1.5;
}
.header--extended .header__nav-item__description {
  display: block;
}
.header--extended .header__show-all::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header--extended .header__show-all::after {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.main {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  text-align: center;
  height: calc(100vh - 48px);

  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: rgba(250,250,250,1);
}

/**
 *  CSS3 Only Horizontal and Vertical Accordion
 *  Author: Paul Underwood for Hongkiat.com
 *  Website: www.paulund.co.uk
 *  Date: 27/11/11
 *  Version: 1.0
 */

 
article, aside, details, figcaption, figure, footer, header, hgroup, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { overflow-y: scroll; }

/*Define Accordion box*/
.accordion { width:830px; overflow:hidden; margin:10px auto; color:#474747; background:#414141; padding:10px; }

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target { background:#FFF; padding:10px;}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color:#333; padding:0;}
.accordion section:target p {display:block;}
.accordion section h2 a{padding:8px 10px;display:block; font-size:16px; font-weight:normal;color:#eee; text-decoration:none; }

/*set style of closed slide*/
.accordion section{ float:left; overflow:hidden; color:#333; cursor:pointer; background: #333; margin:3px; }
.accordion section:hover {background:#444;}
.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
.accordion section:nth-child(1):after{content:'1';}
.accordion section:nth-child(2):after{content:'2';}
.accordion section:nth-child(3):after{content:'3';}
.accordion section:nth-child(4):after{content:'4';}
.accordion section:nth-child(5):after{content:'5';}
/*End General Accordion****************************************************************************/



/*Vertical Accordion *************************************************************************/
.vertical section{ width:100%; height:40px;
  -webkit-transition:height 0.2s ease-out;
  -moz-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
  -ms-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.vertical :target{ height:250px; width:97%; }

.vertical section h2 { position:relative; left:0; top:-15px; }

/*Set position of the number on the slide*/
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}

.portContent, .portConnect {
    display: flex;
    flex-direction: row;
    justify-content: center;

